@page
@model Car_Rental.Pages.DashboardPage

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Car Rental Dashboard</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <partial name="Shared/_SearchReservationPartial" model="@Model" />
        </div>
        <div class="col-md-6">
            <partial name="Shared/_AvailableCarsPartial" model="@Model" />
        </div>
    </div>
</div>
