@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-3">
  <div class="jumbotron">
    <h1>Welcome to FW-Car-Rental!</h1>
    <p class="lead">Rent your cars online.</p>
    <hr class="my-4">
    <p>Choose from a wide range of cars and book your ride now with just a few clicks.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/MainPage" role="button">View Available Cars</a>
    </p>
  </div>
</div>