@page
@model Car_Rental.Pages.MainPage

<h2>Car Rental Dashboard</h2>

<partial name="Shared/_MakeAReservationPartial" model="@Model" />

<partial name="Shared/_ManageReservationsPartial" model="@Model" />
